html {
  font-family: "Fredoka One", sans-serif;
}

h1 {
  color: #990073;
}

h2 {
  color: #c09;
}

.btn-ghost {
  color: #c09;
  border-color: #990073;
  background-color: rgba(255, 255, 255, .1);
  text-shadow: 2px 2px rgba(0, 0, 0, .25);
}

.btn-ghost:hover {
  color: #c09;
  border-color: #990073;
  background-color: rgba(153, 0, 115, .2);
}
